<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Add artist</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form method="post" th:action="@{'/artists/add/{id}' (id=${artist?.id})}">
                    <div class="form-group">
                        <label for="name">Artist name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="name"
                               th:value="${artist?.getName()}"
                               required
                               placeholder="Enter artist name">
                    </div>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <a type="button" class="btn btn-primary" href="/artists">Back</a>
                </form>
            </div>
        </div>
    </div>

</th:block>
